/*fixed sketch pad size*/
body{
	background: rgba(100,100,100,0.4);
}
.container{
	height:640px;
	width:640px;
	margin: auto;

}

.rows{
	background-color: black;
}


/*defining small squares*/
.elements{

	display:inline-block;
	background-color:white;
	margin:1px;
	position: relative;
}


.content{
	/*width:960px;*/
	margin: auto;
	text-align: center;
}